@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   /* Base Colors */
   --color-white: #ffffff;
   --color-black: #000000;
   --color-yellow: #fff8df;
   --color-red: #ef7d7d;
   --color-pink: #ffe5f9;

   --color-fail: #b80000;
   --color-success: #109e62;

   --color-primary-light: #1c1cff;
   --color-primary-dark: #ff7324;
   --color-mint: #e1fefa;
   --color-mint-dark: #2d3332;

   /* 
   *
   * Light Mode
   *
   */

   /* Primary */
   --color-primary: var(--color-primary-light);
   --color-primary-950: #040426;
   --color-primary-900: #050532;
   --color-primary-800: #0b0b66;
   --color-primary-700: #101099;
   --color-primary-600: #1616cc;
   --color-primary-500: #1c1cff;
   --color-primary-400: #4949ff;
   --color-primary-300: #7676ff;
   --color-primary-200: #a4a4ff;
   --color-primary-100: #d1d1ff;
   --color-primary-hover: rgba(28, 28, 225, 0.8);
   --color-primary-active: #1616cc;

   /* Secondary */
   --color-secondary: #e5e5e5;
   --color-divider: #a4a4f3;

   /* Typography */
   --color-text: #333333;
   --color-text-100: #33363d;
   --color-text-200: #666666;
   --color-text-300: #4c4c4c;
   --color-text-400: #7f7f7f;

   /* Gradients */
   --color-upgrades-gradient: linear-gradient(
      285.24deg,
      #f7cbc0 0%,
      #f4b1ab 29.8%,
      #8476d9 49.78%,
      #85acf9 54.14%,
      #1c1ce1 61.77%,
      #000000 69.77%
   );
}

@layer utilities {
   .dark {
      /* Primary */
      --color-primary: var(--color-primary-dark);
      --color-primary-950: #190b03;
      --color-primary-900: #321607;
      --color-primary-800: #662e0e;
      --color-primary-700: #994515;
      --color-primary-600: #cc5c1c;
      --color-primary-500: #ff7324;
      --color-primary-400: #ff8f4f;
      --color-primary-300: #ffab7b;
      --color-primary-200: #ffc7a7;
      --color-primary-100: #ffe3d3;
      --color-primary-hover: #ff8f4f;
      --color-primary-active: #ffc7a7;

      /* Secondary */
      --color-secondary: #333;
      --color-divider: #ffc7a7;

      /* Typography */
      --color-text: #f2f2f2;
      --color-text-100: #f1f3f5;
      --color-text-200: #b2b2b2;
      --color-text-300: #cccccc;
      --color-text-400: hsla(0, 0%, 69.8%, 0.8);

      /* Gradients */
      --color-upgrades-gradient: linear-gradient(
         285.24deg,
         #f7cbc0 0%,
         #fbeae3 17.81%,
         #f4b1ab 29.8%,
         #8476d9 49.78%,
         #8db4ff 69.77%
      );
   }
}
